<h1>Report user on DDR Server</h1>
<p>Thank you for your report, We will look into this and get a fast response!</p>
<p>Our team was notified, Together we can make <a href="/">DDR Server</a> the best server</p>
<p>Thanks for your help!</p>