<footer>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/privacy-policy/">Privacy Policy</a></li>
    <li><a href="/terms-of-service/">Terms of Service</a></li>
    <li><a href="/gdpr/">GDPR</a></li>
    <li><a href="/staff/">Staff</a></li>
  </ul>
  <div class="footer-copyright">
    <p>DDR Server &copy; <span class="year"></span> All rights reserved.</p>
  </div>
</footer>
<script>document.querySelector('.footer-copyright span.year').textContent = new Date().getFullYear();</script>