<nav>
    <ul class="container row">
        <li><a href="/shop/">Tienda</a></li>
        <li class="mark"><a href="/">DDR Server</a></li>
        <li><a href="/report/">Reportes</a></li>
    </ul>
</nav>