<h1>Staff</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem harum illo aut ea similique eveniet ullam eligendi accusamus nostrum minus. Excepturi ad rerum voluptatem nulla! Voluptate itaque numquam molestias unde!</p>

<section class="staff">
    <div class="row">
        <div class="col-6">
            <figure>
                <img src="https://minotar.net/helm/JosueDanielBust/100.png" alt="JosueDanielBust - Minecraft User Helm">
                <figcaption>
                    <p class="user">JosueDanielBust</p>
                    <p class="role">Admin</p>
                </figcaption>
            </figure>
        </div>
        <div class="col-6">
            <figure>
                <img src="https://minotar.net/helm/ricardogottheil/100.png" alt="ricardogottheil - Minecraft User Helm">
                <figcaption>
                    <p class="user">ricardogottheil</p>
                    <p class="role">Admin</p>
                </figcaption>
            </figure>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <figure>
                <img src="https://minotar.net/helm/_Aika/100.png" alt="_Aika - Minecraft User Helm">
                <figcaption>
                    <p class="user">_Aika</p>
                    <p class="role">Admin</p>
                </figcaption>
            </figure>
        </div>
        <div class="col-6">
            <figure>
                <img src="https://minotar.net/helm/ricardogottheil/100.png" alt="ricardogottheil - Minecraft User Helm">
                <figcaption>
                    <p class="user">ricardogottheil</p>
                    <p class="role">Admin</p>
                </figcaption>
            </figure>
        </div>
    </div>
</section>