<h1>Terms of Service</h1>
<p>DDR Server provides this site for the communication, education, and convenience of our customers only. All material on this site is for customer viewing and may not be downloaded, reused, redistributed, modified, or reposted for any reason without the written consent of DDR Server. Access to and the browsing of this site is subject to all applicable laws. Accessing this site constitutes your acceptance of these stated Terms & Conditions. Should you question any content or wish to use any portion of our site outside of ddrserver.com please contact us to request permission which must then be obtained in writing.</p>
<h3>No Warranty</h3>
<p>All content on this site is provided “as is” without any type of warranty. While security measures are taken to prevent potential issues, DDR Server is not liable for any damages, viruses, or issues that could potentially occur due to browsing this site or any of the materials on this site such as downloadable or viewable content. DDR Server takes reasonable efforts to maintain the accuracy of the information within our site however we are not responsible for typographical errors, omissions, validity, expired information, or inaccuracy of technical data and therefore no warranty applies.</p>
<h3>Compliance with Applicable Laws</h3>
<p>By using this site you agree to and are responsible for compliance with all applicable laws.</p>
<h3>Revisions & Updates</h3>
<p>DDR Server may revise these Terms & Conditions at any time by updating these terms and reposting them on our site. Accessing and browsing this site binds you to the latest revision of these Terms & Conditions. If you do not agree with these Terms & Conditions please discontinue the use or access of our site.</p>
